{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_mZ9SQWvVKr5oi18x82PSaM_4q598Rso"
    
    <script src="/js/all.min.js"></script>
    <script type="text/javascript">
      function getFormDataString(formEl) {
        var formData = new FormData(formEl),
            data = [];

        for (var keyValue of formData) {
          data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
        }

        return data.join("&");
      }

      function go(e) {
          e.preventDefault();

          var formEl = document.getElementById("contact-form");
          console.log(getFormDataString(formEl));

          var request = new XMLHttpRequest();

          request.addEventListener("load", function () {
              console.log(request.status);
              if (request.status === 200) { // CloudCannon redirects on success
                $('#contact-form').find('input[type=text], input[type=tel], input[type=email], textarea').val('');
                $('.contact-form-result').text("Mensagem enviada com sucesso!");
                $('.contact-form-result').show();
              }
          });

          request.open(formEl.method, formEl.action);
          request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          request.send(getFormDataString(formEl));

      }



    </script>
</body>
</html>
